@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Mono", monospace !important;
}

.priBg {
    background-color: #ff7c18 !important;
}

.secBg {
    background-color: #ed272b !important;
}

.nameEllipses {
    white-space: nowrap;
    width: 100% !important;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.25rem
        /* 20px */
    ;
    line-height: 1.75rem
        /* 28px */
    ;
    font-weight: 600;
    letter-spacing: -0.025em;
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity))
        /* #000000 */
    ;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #000000 #000000 transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #FF3D00 #FF3D00;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
}

.loader::before {
    width: 32px;
    height: 32px;
    border-color: #FFF #FFF transparent transparent;
    animation: rotation 1.5s linear infinite;
}

@media screen and (min-width:642px) {
    .strContent {
        overflow-y: scroll;
        min-height: 1px !important;
        max-height: 90vh !important;
    }

    .strContent {
        -ms-overflow-style: none;
        /* Internet Explorer 10+ */
        scrollbar-width: none;
        /* Firefox */
    }

    .strContent::-webkit-scrollbar {
        display: none;
        /* Safari and Chrome */
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}


@media screen and (max-width:641px) {
    .container {
        max-width: 100% !important;
    }

    .banner {
        flex-flow: column nowrap !important;
    }

    .bannerSideLeft {
        width: 90%;
        margin-bottom: 1rem;
        padding-left: 0;
        padding-right: 0;
    }

    .bannerSideRight {
        width: 90%;
    }

    .viewItemCard {
        flex-flow: row wrap;
    }

    .strImg {
        width: 100% !important;
        padding-left: 0;
        padding-right: 0;
    }

    .strImg img {
        max-height: 300px;
        border: 2px solid rgb(209 213 219);
        border-bottom: none;
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .strContent {
        width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .strContent div:first-child {
        border-radius: 0 !important;
    }

    .ytFrame {
        height: 240px !important;
    }
}